body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.97em;
  background-color: rgb(102, 110, 118);
  color: #ccc;
}

p {
  color: #aaa;
}

a {
  color: rgb(60, 186, 142);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#container {
  max-width: 600px;
  margin: 20px auto;
  background-color: rgb(18, 29, 33);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
  border: rgb(63, 72, 77) solid 4px;
  border-top-width: 0px;
}

#titlebar {
  background: rgb(63, 72, 77);
  height: 30px;
  margin: auto;
}

#titlebar h1 {
  font-size:  1em;
  font-style: normal;
  font-weight: 400;
  position:relative;
  padding: 4px 0px 0px 2em;
}

#titlebar h1::before {
  content: '▶';
  position: absolute;
  font-size: 0.7em;
  left: 1em;
  top: 0.7em;
}

#content {
  padding: 0px 20px 0px 20px;
  overflow: auto;
}

textarea {
  background: linear-gradient(to bottom,
    rgb(42, 74, 74) 0%,
    rgb(24, 45, 44) 100%);
  box-shadow: inset 0px 0px 6px rgba(0,0,0,0.85);
  color: rgb(120, 241, 226);
  border: 1px solid rgba(120, 241, 226,0.15);
  width: 97%;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  opacity: 0.85;
  cursor: auto;
}

#outputCode {
  margin-top: 20px;
  filter: grayscale(1);
}

textarea::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgba(120, 241, 226, 0.8);
}

textarea:hover {
  opacity: 1.0;
  border: 1px solid rgba(120, 241, 226,0.05);
}

textarea::selection {
  background: rgba(120, 241, 226, 0.25);
  color: rgb(120, 241, 226);
}

::-webkit-scrollbar {
  width: 1em;
}
 
::-webkit-scrollbar-track {
  background-color: rgb(50, 58, 63);
  box-shadow: inset 0 0 3px rgb(0, 0, 0);
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(80, 89, 94);
  outline: 1px solid slategrey;
}

::-webkit-scrollbar-button {
  background-color: rgb(80, 89, 94);
  outline: 1px solid slategrey;
}

::-webkit-scrollbar-corner {
  background-color: rgba(80, 89, 94, 0);
}

::-webkit-resizer {
  background-color: rgba(80, 89, 94, 0);
}

button, .button {
  cursor:pointer;
  display: block;
  float: right;
  padding: 10px 30px;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.267), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #bbb;
  background: linear-gradient(to bottom,  rgb(141, 1, 1) 0%,rgb(79, 0, 0) 100%);
}

#downloadButton:hover {
  text-decoration: none;
}

button:hover, .button:hover {
  filter: brightness(1.5);
}

#copyButton {
  background: linear-gradient(to bottom,  rgb(106, 106, 106) 0%,rgb(57, 57, 57) 100%);
  float: left;
}

.button {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

#notification {
  transition: 2s opacity;
  background: linear-gradient(to bottom,  rgb(42, 74, 74) 0%,
  rgb(24, 45, 44) 100%);
  color: rgb(120, 241, 226);
  border: 1px solid rgba(120, 241, 226,0.15);
  width: 97%;
  height: 3em;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  margin-top: 20px;
}

/*!
 * "Fork me on GitHub" CSS ribbon v0.2.3 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/

.github-fork-ribbon {
  width: 12.1em;
  height: 12.1em;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  font-size: 13px;
  text-decoration: none;
  text-indent: -999999px;
  }
  
  .github-fork-ribbon.fixed {
    position: fixed;
  }
  
  .github-fork-ribbon:hover, .github-fork-ribbon:active {
    background-color: rgba(0, 0, 0, 0.0);
  }
  
  .github-fork-ribbon:before, .github-fork-ribbon:after {
    /* The right and left classes determine the side we attach our banner to */
    position: absolute;
    display: block;
    width: 15.38em;
    height: 1.54em;
  
    top: 3.23em;
    right: -3.23em;
  
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .github-fork-ribbon:before {
    content: "";
  
    /* Add a bit of padding to give some substance outside the "stitching" */
    padding: .38em 0;
  
    /* Set the base colour */
    background-color: #a00;
  
    /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  
    /* Add a drop shadow */
    -webkit-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  
    pointer-events: auto;
  }
  
  .github-fork-ribbon:after {
    /* Set the text from the data-ribbon attribute */
    content: attr(data-ribbon);
  
    /* Set the text properties */
    color: #fff;
    font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.54em;
    text-decoration: none;
    text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
    text-align: center;
    text-indent: 0;
  
    /* Set the layout properties */
    padding: .15em 0;
    margin: .15em 0;
  
    /* Add "stitching" effect */
    border-width: .08em 0;
    border-style: dotted;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.7);
  }
  
  .github-fork-ribbon.left-top, .github-fork-ribbon.left-bottom {
    right: auto;
    left: 0;
  }
  
  .github-fork-ribbon.left-bottom, .github-fork-ribbon.right-bottom {
    top: auto;
    bottom: 0;
  }
  
  .github-fork-ribbon.left-top:before, .github-fork-ribbon.left-top:after, .github-fork-ribbon.left-bottom:before, .github-fork-ribbon.left-bottom:after {
    right: auto;
    left: -3.23em;
  }
  
  .github-fork-ribbon.left-bottom:before, .github-fork-ribbon.left-bottom:after, .github-fork-ribbon.right-bottom:before, .github-fork-ribbon.right-bottom:after {
    top: auto;
    bottom: 3.23em;
  }
  
  .github-fork-ribbon.left-top:before, .github-fork-ribbon.left-top:after, .github-fork-ribbon.right-bottom:before, .github-fork-ribbon.right-bottom:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }